{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": [
            "> 1%",
            "last 2 versions",
            "Firefox ESR",
            "Safari 6",
            "iOS 7",
            "bb 10"
          ]
        }
      }
    ]
  ]
}