.wrapper {
  display: inline-block;
  overflow: auto;
  max-width: 100%;
  max-height: 500px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid red;
}
table {
  border-collapse: collapse;
  max-height: 400px;
  max-width: 100%;
}
table thead tr {
  background: yellow;
}
table thead th {
  background: #6698f5;
  padding: 30px;
  border: 1px solid #4f74b9;
  transform-origin: 0 0;
}
table tbody tr:nth-child(2n+1) th, table tbody tr:nth-child(2n+1) td {
  background: #fff;
}
table tbody tr:nth-child(2n) th, table tbody tr:nth-child(2n) td {
  background: #efefef;
}
table tbody th, table tbody td {
  padding: 50px 30px;
  border: 1px solid lightgray;
}
table .sns--is-stuck-x {
  background: #e5eeff !important;
}
button[data-active="true"] {
  background: lime;
}
code {
  background: #ddd;
}
