table {
  $borderWidth: 1px;
  border-collapse: collapse;
  max-height: 400px;
  max-width: 100%;
  thead {
    tr {
      background: yellow;
    }
    th {
      background: rgb(102, 152, 245);
      padding: 30px;
      border: $borderWidth solid rgb(79, 116, 185);
      transform-origin: 0 0;
    }
  }
  tbody {
    tr {
      &:nth-child(2n+1) {
        th, td {
          background: #fff;          
        }
      }
      &:nth-child(2n) {
        th, td {
          background: #efefef;            
        }
      }
    }
    th, td {
      padding: 50px 30px;
      border: $borderWidth solid lightgray;
    }
  }
  th, td {
    &:last-child {
      // background: rgb(172, 172, 253) !important;
      // border-left-width: 3px;
      // border-color: rgb(122, 122, 180);
    }
    &:nth-child(2) {
      // border-left: 3px solid red;
    }
  }
  .sticky--is-stuck-x {
    background: rgb(229, 238, 255) !important;
  }
}

// ------------ STICKY STYLES ---------------- //

.sticky-table-wrapper {
  display: inline-block;
  padding-right: 4px;
  overflow: auto;
  max-width: 500px;
  max-height: 500px;
  box-sizing: border-box;
  * {
    box-sizing: inherit;
  }

  // width: 500px;
  border: 1px solid red;
  // When the wrapper is not scrolled, there should be no shadow.
  &:not(.sticky--is-scrolling) {
    th, td {
      &[class*="sticky--is-stuck"] {
        box-shadow: none !important;
      }
    }
  }

  tbody:first-child {
    // If a table does *not* start with a <thead>, ensure that cells within the <tbody> secondary <tr> do not have a top border.
    tr:not(:first-child) {
      th, td {
        border-top-width: 0;
      }
    }
  }

  thead, tbody {
    *[class*="sticky--is-stuck"] {
      position: relative;
      transition: box-shadow 0.1s;
      // margin-top: -1px;
      // margin-bottom: -1px;
      // margin-right: -1px;
      // margin-left: -1px;
      
      // Because transform removes our <th> from the normal flow of the page, it loses its top and bottom borders
      // (as, from the rendering engine perspective, it is no longer a part of the table).
      // We need to add these borders back via some css generated elements.
      &:before {
        content: "";
        position: absolute;
        border: inherit;        
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: inherit;

        // top: calc(-1 * var(--border-top-width));
        // right: calc(-1 * var(--border-right-width));
        // bottom: calc(-1 * var(--border-bottom-width));
        // left: calc(-1 * var(--border-left-width));

        // border-width: 1px;
      }
    }
    *.sticky--is-stuck {
      z-index: 100;
    }
  }
}

// ------------ STICKY STYLES ---------------- //

@-moz-document url-prefix() {
  .sticky-table-wrapper {
    padding-right: 16px;    
  }
}