
table.sns {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  tbody:first-child {
    /* If a table does *not* start with a <thead>, ensure that cells within the <tbody> secondary <tr> do not have a top border. */
    tr:not(:first-child) {
      th, td {
        border-top-width: 0;
      }
    }
  }

  thead, tbody {
    *[class*="sns--is-stuck"] {
      position: relative;
      transition: box-shadow 0.1s;

      /*
        Add a zero-width space character to any empty stuck element. This prevents an issue in IE where
        cells with no content are collapsed.
      */
      &:empty {
        &:after {
          content: "\200B";
        }
      }
      
      /*
        Because transform removes our <th> from the normal flow of the page, it loses its top and bottom borders
        (as, from the rendering engine perspective, it is no longer a part of the table).
        We need to add these borders back via some css generated elements.
      */
      &:not(.blah), .sns__cell-inner {
        b {
          position: relative;
          z-index: 1;
        }
        &:before {
          content: "";
          position: absolute;
          border: inherit;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: inherit;
          transition: box-shadow .1s;
          box-shadow: var(--x-shadow), var(--y-shadow);
          z-index: 0;
        }
      }
      .sns__cell-inner {
        display: flex;
        // background: rgba(0,255,0,0.2);
        position: relative;
      }

      /*
        Elements like input, select, textarea, button can be rendered by tho OS rather than the browser.
        Because of this, clicking on these elements once they have been "translated" via translate()
        can become impossible. By positioning them and adding a z-index, we force the browser to handle rendering
        which fixes the issue.
      */
      input, select, textarea, button {
        position: relative;
        z-index: 1;
      }
    }
    *.sns--is-stuck {
      z-index: 100;
    }
    *.sns--is-stuck-x {
      z-index: 90;
    }
    *.sns--is-stuck-y {
      z-index: 80;
    }
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  table.sns {
    margin-top: -2px;
    margin-left: -1px;
  }
}